# Ignore the Terraform plan since it might have secret values
terraform/plan.out

# Ignore the variables passed to the build
terraform/terraform.tfvars

# Ignore the build state
terraform/terraform.tfstate
terraform/.terraform.tfstate.backup
terraform/terraform.tfstate.backup

# Terraform's configuration directory
terraform/.terraform

# Ignore project build tools which are generated on each build;
# we keep Checkstyle and PMD so they can be picked up by Codacy
src/main/tools/travis
src/main/tools/eclipse

# Ignore generated code
src/main/generated
