<configuration>

  <appender name="STDOUT" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %X{AWSRequestId:-"NO_REQUEST_ID"} [%level] %logger{36}:%X{line} - %replace(%msg){'\n','&#xd;'} %replace(%exception){'\n','&#xd;'} %nopexception %n</pattern>
    </encoder>
  </appender>

  <!-- We're going to be explicit about what we don't want to see -->
  <logger name="info.freelibrary.util" level="WARN" />
  <logger name="org.apache.http.wire" level="WARN" />
  <logger name="org.apache.http.headers" level="WARN" />
  <logger name="org.apache.http.impl" level="WARN" />
  <logger name="org.apache.http.client" level="WARN" />
  <logger name="org.apache.http.conn.ssl.SSLConnectionSocketFactory" level="WARN" />
  <logger name="com.amazonaws.auth" level="WARN" />
  <logger name="com.amazonaws.http" level="WARN" />
  <logger name="com.amazonaws.internal" level="WARN" />
  <logger name="com.amazonaws.requestId" level="WARN" />
  <logger name="com.amazonaws.request" level="WARN" />
  <logger name="com.amazonaws.AmazonWebServiceClient" level="WARN" />
  <logger name="com.amazonaws.metrics.AwsSdkMetrics" level="WARN" />
  <logger name="com.amazonaws.services.s3.model.transform" level="WARN" />
  <logger name="com.amazonaws.monitoring.CsmConfigurationProviderChain" level="WARN" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
